.background{
    background-color: #000324;
}

.bruh{
    display: grid;
    place-items: center;
}

.headerImg{
    height: 500px;
}

.boxThing{
    padding: 20px;
}

.otherBoxThing{
    padding: 50px;
    display: flex;
}

.awardImg{
    padding-left: 30px;
}

.cardsBox{
    background-image: url("../assets/bg.jpg");
}

.cardVisualEdit{
    border-radius: 0px;
}

.roomsHeader{
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Dosis;
    font-weight: 300;
}

.fontDosis{
    font-family: Dosis;
}

.fontSans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face{
    font-family: Dosis;
    src: url(../assets/Dosis-VariableFont_wght.ttf);
}