.background{
    background-color: #000324;
}

.centerGrid{
    display: grid;
    place-items: center;
}

.bottom{
    display: flex;
    align-items: flex-end;
}

.logoImg{
    padding: 10px;
}

.logoImg2{
    padding: 20px;
}

.headerBox{
    text-align: center;
    background-color: #000324cc;
    padding: 100px;
}

.headerBigText{
    font-size: 60px;
    font-weight: lighter;
}

.headerSmallText{
    font-family: Dosis;
    font-size: 20px;
}

.hampterBox{
    margin-top: 90px;
    margin-bottom: 40px;
}

.cardsBox{
    width: 100%;
    height: 150%;
    background-image: url("../assets/bg2.jpg");
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.mid{
    display: flex;
    justify-content: center;
}

.cardVisualEdit{
    border-radius: 0px;
    margin: 10px;
}

.roomsHeader{
    padding: 40px;
    color: white;
    text-align: center;
    font-family: Dosis;
    font-weight: 300;
}

.navbarText{
    color:white;
    font-family: Dosis;
}

.navThing:hover{
    border: 1px solid white;
    color:white;
}

.fontDosis{
    font-family: Dosis;
}

.fontSans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lightWeight{
    font-weight: 300;
}

.pricing{
    color:#1F51A8;
    font-family: Dosis;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aspect{
    width: 400px;
    height: 400px;
    object-fit:none;
}

.packagesHeader{
    text-align: center;
    font-family: Dosis;
    padding: 10px;
}

.cardSizeText{
    font-family: Dosis;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardTitle{
    font-family: Dosis;
    font-size: 30px;
    font-weight: lighter;
}

.cardButton{
    border-radius: 0px;
    background-color: #004CC7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.footer{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #000324;
    text-align: center;
    font-family: Dosis;
    color: #E5FEFF;
}

.amenities{
    margin-top: 30px;
    background-image: url(../assets/bg.jpg);
    padding: 50px;
}

.amenitiesFormat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.amenitiesItems{
    padding: 10px;
}

.dumbImageWithWeirdSizing{
    width: 95px;
}

.subText{
    font-family: Dosis;
    color:white;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 60px;
}

.imgText{
    font-family: Dosis;
    color:white;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 30px;
}

.TopText{
    font-family: Dosis;
    font-weight: lighter;
    color:white;
    text-align: center;
    margin-top: 10px;
}

.reserve{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dosis;
    color: #E5FEFF;
}

.inputSec{
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.inputRow{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.availability{
    background-color: #006EDB;
    border-color: #000DC7;
    color:#FFFFFF;
    height: 40px;
    margin-top: 20px;
}

.packageImg{
    object-fit:cover; 
    height: 100%; 
    aspect-ratio:20/9;
}

.padding{
    padding: 20px;
}

.textEntry{
    background-color: #EBEDFC;
}

.centerReserve{
    display: flex;
    align-content: center;
    justify-content: center;
}

.cardImg{
    width: 100%;
    height: 250px;
    object-fit: none;
}

@font-face{
    font-family: Dosis;
    src: url(../assets/Dosis-VariableFont_wght.ttf);
}

@media (max-width: 700px) {
    .footer{
        margin-top: 0px;
        padding-top: 0px;
    }
    .headerBox{
        text-align: center;
        background-color: #000324cc;
        padding: 35px;
    }
    .headerBigText{
        font-size: 20px;
        font-weight: lighter;
    }
    .fontSize{
        font-size: 10px;
    }
    .headerSmallText{
        font-family: Dosis;
        font-size: 10px;
        font-weight: lighter;
    }
  }