.background{
    background-color: #000324;
}

.bruh{
    display: grid;
    place-items: center;
}

.bottom{
    display: flex;
    align-items: flex-end;
}

.logoImg{
    padding: 10px;
}

.logoImg2{
    padding: 20px;
}

.headerImg{
    border-radius: 0px;
}

.headerBox{
    width: 900px;
    text-align: center;
    background-color: #000324cc;
    padding: 100px;
}

.headerBigText{
    font-size: 60px;
    font-weight: lighter;
}

.paradiseBox{
    margin: 30px;
    padding: 20px;
}

.cardsBox{
    width: 100%;
    height: 800px;
    background-image: url("../assets/bg2.jpg");
}

.cardsList{
    display: flex;
    justify-content: center;
}

.cardVisualEdit{
    border-radius: 0px;
    display: flex;
    margin: 10px;
}

.roomsHeader{
    padding: 30px;
    color: white;
    text-align: center;
    font-family: Dosis;
    font-weight: 300;
}

.navbarText{
    color:white;
    font-family: Dosis;
}

.fontDosis{
    font-family: Dosis;
}

.fontSans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lightWeight{
    font-weight: 300;
}

.pricing{
    color:#1F51A8;
    font-family: Dosis;
    font-weight: 500;
}

.aspect{
    width: 400px;
    height: 400px;
    object-fit:none;
}

.cardList{
    font-family: Dosis;
    padding-bottom: 20px;
}

.cardSizeText{
    font-family: Dosis;
    font-weight: bold;
    padding: 10px;
}

.cardTitle{
    font-family: Dosis;
    font-size: 40px;
    font-weight: lighter;
}

.cardButton{
    border-radius: 0px;
    background-color: #004CC7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: flex-end;
}

.footer{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #000324;
    text-align: center;
    font-family: Dosis;
    color: #E5FEFF;
}

.packageImg{
    width: 600px;
    object-fit: none;
}
.aGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.amenities{
    margin-top: 30px;
    background-image: url(../assets/bg.jpg);
    padding: 50px;
}

.swearWord{
    display: flex;
    justify-content: space-evenly;
}

.whyAreYouLikeThis{
    width: 95px;
}

.subText{
    font-family: Dosis;
    color:white;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 60px;
}

.imgText{
    font-family: Dosis;
    color:white;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 30px;
}

.TopText{
    font-family: Dosis;
    font-weight: lighter;
    color:white;
    text-align: center;
}

.reserve{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/*    background-color: #000324; */
.inputSec{
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.inputRow{
    display: flex;
    flex-flow: row;
}

@font-face{
    font-family: Dosis;
    src: url(../assets/Dosis-VariableFont_wght.ttf);
}